@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="p-4 p-md-6">
                    <div class="row">
                        <div class="form-group mb-4 col-md-6">
                            <div class="js-form-message js-focus-state">
                                <label asp-for="Input.Name" class="form-label">First Name *</label>
                                <input asp-for="Input.Name" type="text" class="form-control rounded-0 height-4 px-4" placeholder="First Name" required="">
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mb-4 col-md-6" >
                            <div class="js-form-message js-focus-state">
                                <label asp-for="Input.LastName" class="form-label">Last Name *</label>
                                <input asp-for="Input.LastName" type="text" class="form-control rounded-0 height-4 px-4" placeholder="Last Name" required="">
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <div class="js-form-message js-focus-state">
                            <label asp-for="Input.Email" class="form-label">Email *</label>
                            <input asp-for="Input.Email" type="email" class="form-control rounded-0 height-4 px-4" placeholder="Your mail" required="">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="js-form-message js-focus-state">
                            <label asp-for="Input.Password" class="form-label">Password *</label>
                            <input asp-for="Input.Password" type="password" class="form-control rounded-0 height-4 px-4" placeholder="Your password" required="">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="js-form-message js-focus-state">
                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password *</label>
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control rounded-0 height-4 px-4" placeholder="Confirm password" required="">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">Create Account</button>
                    </div>
                    <div class="text-center mb-4">
                        <span class="small text-muted">Already have an account?</span>
                        <a class="small" asp-area="Identity" asp-page="/Account/Login">
                            Login
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">

            <p class="pt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui eros, suscipit ut blandit in, tincidunt commodo nisi. Aliquam erat volutpat. Aliquam massa mi, pretium at vehicula eget, congue sed tortor. Donec condimentum lorem id molestie ornare. Praesent vitae urna egestas, congue diam vitae, porta mi. Fusce non accumsan tortor, ut tempor purus. Duis purus augue, euismod in lobortis et, faucibus vitae enim. Vivamus et purus eu ipsum tempor condimentum. Mauris at urna magna. Vivamus ac orci.  Donec condimentum lorem id molestie ornare. Praesent vitae urna egestas, congue diam vitae, porta mi. Donec condimentum lorem id molestie ornare. Praesent vitae urna egestas, congue diam vitae, porta mi. Fusce non accumsan tortor, ut tempor purus. Duis purus augue, euismod in lobortis et, faucibus vitae enim. Vivamus et purus eu ipsum tempor condimentum. Mauris at urna magna. Vivamus ac orci.  Fusce non accumsan tortor, ut tempor purus. Duis purus augue, euismod in lobortis et, faucibus vitae enim. Vivamus et purus eu ipsum tempor condimentum. Mauris at urna magna. Vivamus ac orci. </p>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
